
/*GENERAL*/
.underline{
    text-decoration: underline;
}
.bg-darkpurple{
    background-color: rgb(122, 73, 100);
}

/*INDEX PAGE*/
.section1{
    background-image: url('../assets/img/index/bg-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.square{
    height: 350px;
    width: 350px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all is ease-in-out;
    background-repeat: no-repeat;
}
.square-sm{
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all is ease-in-out;
    background-repeat: no-repeat;
}

.square-xsm{
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all is ease-in-out;
    background-repeat: no-repeat;
    cursor: pointer;
}
.square-sm:hover{
    cursor: pointer;
}
.pink-color{
    color: palevioletred;
}
.bg-pink {
    background-color: rgba(129, 0, 71, 0.473);
}

.bg-dark:hover{
    color: papayawhip !important;
}
.step1{
    background-image: url('../assets/img/index/step1.jpg');
}
.step2{
    background-image: url('../assets/img/index/step2.jpg');
}
.step3{
    background-image: url('../assets/img/index/step3.png');
}
.step-card > h2 {
    opacity: 0;
}
.step-card:hover{
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(250, 224, 78);
    -webkit-animation: switch 5s infinite;
    background-image: none;
    
}

.square:hover h2{
    opacity: 1;
}

/*STYLES PAGE*/
.nav-bg{
    background-image: url('../assets/img/stylesPage/bg-img.jpg');
    background-size: inherit;
    background-repeat: repeat-x;
}
.bg-gray{
    background-color: gainsboro;
}
.style-showcase{
    background-image: url('../assets/img/stylesPage/style1.jpg');
}

.style-showcase:hover{
   border: grey 2px solid !important;
}
.style-showcase-options:hover{
    opacity: 1;
}
.fabric{
    background-image: url('../assets/img/fabric/default.jpg');
}